<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false">
    <property name="LOG_HOME" value="/app/logs"  />
    <property name="appName" value="spider"  />


    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]  %-5level %logger{50} %line: %msg%n</pattern>
        </layout>
    </appender>


    <appender name="appLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${appName}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]  %-5level %logger{50} %line: %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.threepeople" level="info" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="appLogAppender" />
    </logger>

    <logger name="com.threepeople.spider.mapper" level="debug" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="appLogAppender" />
    </logger>


    <root level="error">
        <appender-ref ref="stdout" />
        <appender-ref ref="appLogAppender" />
    </root>
</configuration>